<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><%= title%></h3>

<form action="/add-doc" method="post">
    <input type="text" name="title" placeholder="Title"><br>
    <input type="text" name="snippet" placeholder="Snippet"><br>
    <input type="text" name="body" placeholder="Body"><br>
<input type="submit" value="Insert into the mongo db">
</form>
</body>
</html>